name: 打包项目并部署静态页面

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  npm-build:
    name: Build and Deploy
    runs-on: ubuntu-latest
    # 打包项目
    steps:
      - name: 读取仓库内容
        uses: actions/checkout@v4
      - name: 设置 Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: pnpm
      
      - name: 配置 pnpm 环境
        uses: pnpm/action-setup@v3
        with:
          version: 9

      - name: 检测 pnpm 版本
        run: pnpm --version

      - name: 下载仓库依赖 & 打包项目：
        run: |
          pnpm install 
          pnpm docs:build

      - name: 部署静态页面：
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: gh-pages 
          folder: docs/.vitepress/dist
          clean: true
      # 将静态页面部署



# 更新索引的作用
# jobs:
#   algolia:
#     runs-on: ubuntu-latest
#     steps:
#       - uses: actions/checkout@v2

#       - name: Get the content of docsearch.json as config
#         id: algolia_config
#         run: echo "::set-output name=config::$(cat docsearch.json | jq -r tostring)"

#       - name: Run algolia/docsearch-scraper image
#         env:
#           APPLICATION_ID: ${{ secrets.APPLICATION_ID }}
#           API_KEY: ${{ secrets.API_KEY }}
#           CONFIG: ${{ steps.algolia_config.outputs.config }}
#         run: |
#           docker run \
#             --env APPLICATION_ID=${APPLICATION_ID} \
#             --env API_KEY=${API_KEY} \
#             --env "CONFIG=${CONFIG}" \
#             algolia/docsearch-scraper
