name: 打包项目并部署静态页面

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  npm-build:
    name: Build and Deploy
    runs-on: ubuntu-latest
    steps:
      - name: 读取仓库内容
        uses: actions/checkout@v4
      
      - name: 设置 Node.js 环境（先不启用pnpm缓存）
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: 启用 Corepack
        run: corepack enable

      - name: 激活并安装指定版本 pnpm 8.6.10
        run: corepack prepare pnpm@8.6.10 --activate

      - name: 兜底安装 pnpm（若 Corepack 未生效）
        run: |
          if ! command -v pnpm >/dev/null 2>&1; then
            npm i -g pnpm@8.6.10
          fi

      - name: 检测 pnpm 版本（验证是否安装成功）
        run: pnpm --version  # 输出应为 8.6.10

      # 安装完pnpm后，手动配置pnpm缓存（替代setup-node的cache）
      - name: 配置 pnpm 依赖缓存
        uses: actions/cache@v4
        with:
          path: ~/.pnpm-store
          key: ${{ runner.os }}-pnpm-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-

      - name: 下载仓库依赖 & 打包项目
        run: |
          pnpm install 
          pnpm docs:build

      - name: 部署静态页面
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: gh-pages 
          folder: docs/.vitepress/dist
          clean: true

      - name: Get the content of docsearch.json as config
        id: algolia_config
        run: echo "::set-output name=config::$(cat docsearch.json | jq -r tostring)"

      - name: Run algolia/docsearch-scraper image
        env:
          APPLICATION_ID: ${{ secrets.APPLICATION_ID }}
          API_KEY: ${{ secrets.API_KEY }} 
          CONFIG: ${{ steps.algolia_config.outputs.config }}

        run: |
          echo "APP_ID length: ${#APPLICATION_ID}"
          echo "API_KEY length: ${#API_KEY}"
          docker run \
            --env APPLICATION_ID=${APPLICATION_ID} \
            --env API_KEY=${API_KEY} \
            --env "CONFIG=${CONFIG}" \
            algolia/docsearch-scraper


# 更新索引的作用
# jobs:
#   algolia:
#     runs-on: ubuntu-latest
#     steps:
#       - uses: actions/checkout@v2

#       - name: Get the content of docsearch.json as config
#         id: algolia_config
#         run: echo "::set-output name=config::$(cat docsearch.json | jq -r tostring)"

#       - name: Run algolia/docsearch-scraper image
#         env:
#           APPLICATION_ID: ${{ secrets.APPLICATION_ID }}
#           API_KEY: ${{ secrets.API_KEY }}
#           CONFIG: ${{ steps.algolia_config.outputs.config }}
#         run: |
#           docker run \
#             --env APPLICATION_ID=${APPLICATION_ID} \
#             --env API_KEY=${API_KEY} \
#             --env "CONFIG=${CONFIG}" \
#             algolia/docsearch-scraper
